cor_coxph/nohup.out
covpn_correlates_cor_coxph_moderna_boost.tex
renv/settings.json
cor_coxph/output/moderna_boost/*
.Rproj.user
*.Rproj
*.rds
*.rda
.Rhistory
.RData
.Ruserdata
.DS_Store
*.reg
*.log
_book
_bookdown_files
packages.bib
cor_threshold/figs/simultaneous_CI/*.rds
cor_threshold/figs/pointwise_CI/*.rds
# ignore build directories
_report_immuno/*.pdf
_report_immuno/*.html
_report_riskscore/*.pdf
_report_riskscore/*.html
_report_cor/*.pdf
_report_cor/*.html
_report_cop/*.pdf
_report_cop/*.html
data_clean/.README.md.swp
cor_coxph/report - Copy.tex
cor_coxph/report_sub - Copy.Rmd
covpn_correlates_cor.Rmd
covpn_correlates_cor.tex
._bookdown_cor.yml.swp
cor_coxph/cor_coxph_report.tex
cor_coxph/output/*
cor_coxph/cor_coxph_report.knit.md
cor_coxph/cor_coxph_report.out
cor_coxph/cor_coxph_report.aux
cor_coxph/cor_coxph_report.utf8.md
cor_graphical/data_clean/longer_cor_data_plot1.csv
cor_graphical/data_clean/plot.25sample1.csv
cor_coxph/Rplots.pdf
cor_coxph/*.pdf
cor_nonlinear/output/*
optimal_surrogate/*
cor_graphical/output/*
.Makefile.swp
cop_mediation/*.html
*.swp
covpn_correlates_cor_moderna_mock.tex
cor_surrogates/output/*
cor_surrogates/figs/moderna_real/*.png
cor_surrogates/figs/moderna_real_previous/*.png
cor_surrogates/figs/hvtn705second/*.png

